@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.generic {
    font-family: 'Roboto', sans-serif;
    color: #e5e7eb;
    font-weight: 300;
    font-size: 11px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 8px;
    margin: 0;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 18px;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
}

.hero-contain {
    display: flex;
    padding: 24px;
}

.hero {
    display: flex;
    justify-content: space-around;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding: 48px;
    background-color: #1f2937;
}

.hero-text {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 8px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.headline {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
}

#nature {
    width: 400px;
}

.information {
    background-color: white;
    padding: 8px;
    margin: 0;

}

.info-text {
    text-align: center;
    padding: 4px;
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    font-family: 'Roboto', sans-serif;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.item {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text {
    color: darkgray;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 24px;
}

.vertical {
    height: 200px;
    width: auto;
}

.quote {
    background-color: #e5e7eb;
}

.frame {
    margin: auto;
    padding: 48px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

.test {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.author {
    display: flex;
    align-self: flex-end;
    color: #1f2937;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 64px;
    display: flex;
    justify-content: center;
}

.box {
    background-color: #3882f6;
    width: 900px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news {
    display: flex;
}

.action {
    font-size: 18px;
    font-weight: 700;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 24px;
    font-family: 'Roboto', sans-serif;
}

.blues {
    background-color: #3882f6;
    color: white;
    border: 3px white;
    border-radius: 8px;
    width: 85px;
    padding: 4px;
}

.whites {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    width: 85px;
    padding: 4px;
}